.container {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.title {
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.icon {
  color: red;
  font-size: 4rem !important;
}

@media (max-width: 800px) {
  .icon {
    font-size: 3rem !important;
  }

  .text {
    display: none;
  }
}
